<ion-view class="trackerConfigView" view-title="Add New Device" ng-controller="addObjectController as object">
  <div class="addObjectContainer">

    <form class="addObjectForm">
      <label class="item-input">
        <input type="text" required
               autocorrect="off" autocapitalize="none"
               ng-model="object.formData.name"
               placeholder="Name">
      </label>

      <label class="item-input">
        <input type="number" required
               minlength="15" maxlength="16" max="9999999999999999"
               autocorrect="off" autocapitalize="none"
               ng-model="object.formData.imei"
               placeholder="IMEI">
      </label>

      <label class="item-input">
        <input type="tel" required
               autocorrect="off" autocapitalize="none"
               ng-model="object.formData.simnumber"
               placeholder="Sim card number">
      </label>

      <label class="item-input">
        GPS device:
        <select ng-model="object.formData.device">
          <option value="{{ objectType.name }}" ng-repeat="objectType in object.objectTypes">{{ objectType.name }}</option>
        </select>
      </label>
    </form>

    <div class="buttonContainer">
      <ion-spinner style="display: inline;" ng-show="object.working" class="spinner-positive"></ion-spinner>
      <button ng-show="!object.working" class="button" ng-click="object.save()">Save</button>
    </div>

  </div>
</ion-view>
